<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPL.X4.TradeData.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPL.X4.TradeData.UI.Properties.Settings>
            <setting name="CatalogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckIntervalSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SaveGameFileAgeSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SaveGameFileFilter" serializeAs="String">
                <value>*.xml.gz</value>
            </setting>
            <setting name="SaveGameFilePath" serializeAs="String">
                <value />
            </setting>
        </MPL.X4.TradeData.UI.Properties.Settings>
    </userSettings>
</configuration>